/*Color*/
/*Font*/
h1 {
  font-family: "Sigmar One", Arial;
  color: #E1C340;
  text-align: center;
}

h2 {
  font-family: "Sigmar One", Arial;
  color: #E1C340;
  text-align: center;
}

body {
  font-family: "Open Sans", Georgia;
  font-size: 12px;
  color: #0F0E0E;
}

#nav-title {
  font-family: "Sigmar One", Arial;
  font-size: 1em;
  color: #E1C340;
}

.nav-link {
  font-family: "Sigmar One", Arial;
  font-size: 0.8em;
}

.navbar-dark .navbar-nav .nav-link {
  color: #E1C340;
}

/*Icons*/
.fas, .fab {
  color: #E1C340;
  font-size: 12px;
}

.fa-video {
  transform: rotate(-90deg);
}

/*Sections and elements*/
.navbar-toggler {
  border: none;
  font-size: 12px;
}

#hero {
  background-image: url("/images/background-images/Cinema-plein-air.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  height: 185px;
}
#hero h1 {
  font-size: 1.6em;
  text-shadow: 5px 5px #0F0E0E;
}
#hero #header-button {
  position: absolute;
  bottom: 0;
}

#mostContent {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
}

.card {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 2px solid #1B3D2F;
}
.card h2 {
  margin-bottom: 10px;
  font-size: 1.4em;
}

.card.no-padding-side {
  padding: 0px 2px 0px 2px;
}

form {
  text-align: left;
}
form input, form select, form textarea, form .form-control {
  border: 1px solid #E1C340;
  background-color: #F9F9F9;
  padding-left: 1em;
  padding-right: 1em;
}
form input:hover, form select:hover, form textarea:hover, form .form-control:hover {
  border-color: #1B3D2F;
}
form input:focus, form select:focus, form textarea:focus, form .form-control:focus {
  border-color: #482B1B;
}
form input, form select, form textarea, form label {
  margin-bottom: 10px;
  margin-top: 10px;
}
form input, form select {
  border-radius: 15px;
}
form textarea {
  height: 100px;
}

#search-bar {
  border: 1px solid #E1C340;
  border-radius: 15px;
  margin-left: 5px;
  background-color: #F9F9F9;
}
#search-bar div.row {
  margin-left: 0;
}

#search-field {
  margin: 2px;
  padding: 0;
  font-size: 12px;
  border: none;
}

#search-span {
  border: none;
}
#search-span button {
  border: none;
  padding: 0 0 0 12px;
  background-color: #F9F9F9;
  font-size: 12px;
}

footer {
  background-color: #0F0E0E;
  padding-top: 10px;
}
footer .fab, footer .fas {
  font-size: 2em;
}
footer p {
  font-family: "Sigmar One", Arial;
  font-size: 10px;
  color: #E1C340;
}

.btn {
  font-size: 0.8em;
  background-color: #E1C340;
  color: #F9F9F9;
}
.btn:hover {
  background-color: #1B3D2F;
  color: #E1C340;
}

h2 + p {
  text-align: justify;
}

#block-for-link {
  text-align: right;
}
#block-for-link .card-link {
  font-weight: bold;
  font-size: 1.2em;
  color: #482B1B;
}

.blog-link {
  color: #482B1B;
  font-weight: bold;
  text-shadow: 1px 0px #482B1B;
}

.card-body {
  padding-left: 0;
  padding-right: 0;
}
.card-body i {
  font-size: 3.6em;
}

#google-map-iframe {
  width: 95%;
  height: 183px;
}

iframe, .carousel-item img {
  box-shadow: 3px 3px 3px rgba(15, 14, 14, 0.4);
}

img {
  height: 150px;
}

.carousel-indicators {
  position: relative;
}
.carousel-indicators li {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #E1C340;
  border: 2px solid #1B3D2F;
}

.carousel-caption {
  position: relative;
  right: 0%;
  left: 0%;
  height: 30px;
}
.carousel-caption p {
  color: #0F0E0E;
}

#nosServices .align-items-center {
  margin-top: 20px;
  text-align: left;
}
#nosServices .fas {
  color: #1B3D2F;
  padding-left: 0px;
  padding-right: 0px;
}

.fas.fa-search {
  font-size: 1em;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 1;
  height: 150px;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
  opacity: 0.8;
}

h3 {
  font-family: "Open Sans", Georgia;
  color: #0F0E0E;
  font-size: 1em;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
