/*Color*/
$firstColor: #E1C340;
$secondColor: #482B1B;
$thirdColor: #1B3D2F;
$whitey: #F9F9F9;
$blackey: #0F0E0E;
/*Color*/

/*Font*/
$mainFont: 'Sigmar One', Arial;
$secondFont: 'Open Sans', Georgia;
/*Font*/

body {
  font-family: $secondFont;
  font-size: 12px;
  color: $blackey;
}

/*Headings*/
@for $index from 1 through 3 {
  h#{$index}{
    font-family: $mainFont;
    color: $firstColor;
    text-align: center;
  }
}

h3 {
  font-family: $secondFont;
  color: $blackey;
  font-size: 1em;
}
/*Headings*/

/* NAV */
#nav-title {
  font-family: $mainFont;
  font-size: 1em;
  color: $firstColor;
}

.nav-link {
  font-family: $mainFont;
  font-size: 0.8em;
}

.navbar-dark .navbar-nav .nav-link {
  color: $firstColor;
}

.fa-video {
  transform: rotate(-90deg);
}

.navbar-toggler {
  border: none;
  font-size: 12px;
}
/* NAV */

/*ICONS*/
.fas, .fab {
  color: $firstColor;
  font-size: 12px;
}
/*ICONS*/

/*Sections and elements*/

/*HERO*/
#hero {
  background-image: url('/images/background-images/Cinema-plein-air.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px;
  margin: 0px;
  height: 185px;
  h1 {
    font-size: 1.6em;
    text-shadow: 5px 5px $blackey;
  }
  #header-button {
    position: absolute;
    bottom: 0;
  }
}

#mostContent {
  text-align:center;
  padding-left: 10%;
  padding-right: 10%;
}
/*HERO*/

/*CARD*/

.card.no-padding-side {
  padding: 0px 2px 0px 2px;
}

.card {
  margin-top:25px;
  margin-bottom:25px;
  border: 2px solid $thirdColor;
  .card-body {
    .carousel-control-prev, .carousel-control-next {
      opacity: 1;
      height: 150px;
      &:hover {
        opacity: 0.8
      }
    }
    img {
      height: 150px;
    }
    h2 {
      margin-bottom:10px;
      font-size: 1.4em;
    }
    h2 + p {
      text-align: justify;
    }
    padding-left: 0;
    padding-right: 0;
    i {
      font-size: 3.6em;
    }
    #block-for-link {
      text-align: right;
      .card-link {
        font-weight:bold;
        font-size: 1.2em;
        color: $secondColor;
      }
    }
    .carousel-indicators {
      position: relative;
      li {
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background-color: $firstColor;
      border: 2px solid $thirdColor;
      }
    }
    .carousel-caption {
      position: relative;
      right: 0%;
      left: 0%;
      height: 30px;
      h3 {
      }
      p {
        color: $blackey;
        font-weight: bold;
      }
      .blog-link {
        color: $secondColor;
        font-weight: bold;
        text-shadow: 1px 0px $secondColor;
      }
    }
  }
}

#nosServices{
  .align-items-center
  {
    margin-top: 20px;
    text-align: left;
  }
  .fas {
    color: $thirdColor;
    padding-left: 0px;
    padding-right: 0px;
  }
}
/*CARD*/

/* FORM */
form {
  text-align:left;
  input, select, textarea, .form-control, option  {
  font-weight: bold;
  color: $blackey;
  border: 1px solid $firstColor;
  background-color: $whitey;
  padding-left: 1em;
  padding-right: 1em;
  &:hover {
    border-color: $thirdColor;
  }
  &:focus {
    border-color: $secondColor;
  }
  }

  input, select, textarea, label {
    margin-bottom: 10px;
    margin-top: 10px;
  }
  input, select {
    border-radius: 15px;
  }
  textarea {
    height: 100px;
  }
  /* Placeholder */
  ::-webkit-input-placeholder {
   color: $blackey;
   font-weight: bold;
  }
  :-moz-placeholder { /* older Firefox*/
   color: $blackey;
   font-weight: bold;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $blackey;
    font-weight: bold;
  }
  :-ms-input-placeholder {
    color: $blackey;
    font-weight: bold;
  }
}
/*PLaceHolder*/
/* FORM*/

/*Navigatin-Section*/
#category {
  margin-left: 10px;
}

#search-bar {
  border: 1px solid $firstColor;
  border-radius: 15px;
  margin-left: 10px;
  background-color: $whitey;
  div.row {
    margin-left: 0;
  }
  #search-field {
    margin: 2px;
    padding: 0;
    font-size: 12px;
    border: none;
  }
  #search-span{
    border: none;
    button {
      border: none;
      padding: 0 0 0 12px;
      background-color: $whitey;
      font-size: 12px;
    }
}
  .fas.fa-search {
    font-size: 1em;
  }
}
/*navigation-section*/

/*FOOTER*/
footer {
  background-color: $blackey;
  padding-top: 10px;
  .fab, .fas {
    font-size: 2em;
  }
  p {
    font-family: $mainFont;
    font-size: 10px;
    color: $firstColor;
  }
}
/*FOOTER*/

/*Elements*/
.btn {
  font-size: 0.8em;
  background-color: $firstColor;
  color: $whitey;
  border: 1px solid $secondColor;
  &:hover {
    background-color: $thirdColor;
    color: $firstColor;
  }
}

#google-map-iframe {
  width: 95%;
  height: 183px;
}

iframe, .carousel-item img {
    box-shadow: 3px 3px 3px rgba($blackey, 0.4);
  }
/*Elements*/
